#main-wrapper{
    width: 500px;
    margin: 0 auto;
    background: #ffeaa7;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #2c3e50;
}
.pic1{
    width: :120px;
    height: 120px;
    text-align: center;
}
.myform{
    width:150px;
    margin: 0 auto;
}
.inputvalues{
    width: 180px;
    margin: 0 auto;
    padding: 7px;
}
#login_btn
{
    margin-top: 10px;
    background-color: #27ae60;
    padding: 5px;
    color: ghostwhite;
    width: 90%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
#register_btn
{
    margin-top: 10px;
    background-color: #3498db;
    padding: 5px;
    color: ghostwhite;
    width: 90%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
#signup_btn
{
    margin-top: 10px;
    background-color: #27ae60;
    padding: 5px;
    color: ghostwhite;
    width: 90%;
    text-align: center;
    font-size: 18px
    font-weight: bold;
}
#back_btn
{
    margin-top: 10px;
    background-color:#e74c3c;
    padding: 5px;
    color: ghostwhite;
    width: 40%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
#logout_btn
{
   margin-top: 10px;
    background-color: #d63031;
    padding: 5px;
    color: ghostwhite;
    width: 90%;
    text-align: center;
    font-size: 18px
    font-weight: bold;
    margin-bottom: 10px;
    
}